@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Roboto Slab", "sans-serif";
  font-weight: 400;
  color: antiquewhite;
  background-image: url("/bg-default.jpg");
  background-color: black;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*backdrop-filter: blur(1px);*/
}

textarea {
  height: auto;
  min-height: 2.5rem;
  max-height: 6rem;
  bottom: 0;
  box-sizing: border-box;
  display: block;
}

.markdown-body {
  max-width: 50vw;
}

.markdown-body p {
  margin-bottom: 1em; /* Add spacing between paragraphs */
  display: block; /* Ensure paragraphs are block-level elements */
}

.markdown-body ul,
.markdown-body ol {
  display: block; /* Ensure lists are block-level elements */
  margin-left: 20px; /* Add indentation for lists */
}